@charset "UTF-8";

body{
background-color: rgb(177, 239, 241);
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
}
h1{
color: rgb(0, 255, 64);
background-color: blueviolet
}
h2{
color: red;
}
p{
text-align: justify; 
}